footer.py-3.bg-light.mt-auto
    .container-fluid
        .d-flex.flex-row-reverse.align-items-center.justify-content-between.small#footer-copyright
            .text-muted
                | Copyright &copy; ePharm 2021
