block scripts
    //- Load jQuery
    //-script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js', crossorigin='anonymous')
    //- Load Bootstrap JS Bundle
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js', crossorigin='anonymous')
    //- skripta za checkUser

    script(src='js/global/checkUser.js', type="module")
    //- Load Global Template Scripts
    script(src='js/scripts.js')

    //- Animacija kad se otvori stranica
    script(src='js/global/animation.js', type="module")

    //- Skripa vezana za obavestenja
    script(src='js/obavestenja/obavestenja.js', type="module")
