extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed';
    - var pageTitle = 'Profil zaposlenog';
    - var sidenavStyle = 'sb-sidenav-dark';



block content
    .card.mb-9.body-prikaz
        .card-body
            .row.card-body
                .col-xl-10
                    article.product-entry.product-blue.clearfix.col-xl-12
                        .col-xl-9.col-md-9.podaci-pozicija#podaci-poz
                            .imePrezimePodaci
                                p.imeZaposleni.pod1
                                    |
                                p.prezimeZaposleni.pod1
                                    |
                            h3.userNameZaposleni.pod1
                                |
                            p.emailZaposleni.pod1
                                |
                            p.telefonZaposleni.pod1
                                |
                            p.ulogaZaposleni.pod1
                                |
                            p.apotekaZaposleni.pod1
                                |
                        
                        .col-sm-1.col-xl-1.col-md-1.dugmiciZaZaposlenog
                            button.dugmeIzmeniZaposlenog(data-toggle="modal", data-target="#ModalIzmeniZaposlenog")
                                |Izmeni



    .modal.fade#ModalIzmeniZaposlenog(tabindex="-1", role="dialog", aria-labelledby="exampleModalCenterTitle", aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content 
                .modal-header 
                    h5.modal-title 
                        |Izmena podataka zaposlenog
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true")
                            |&times;
                .modal-body
                    form(action="#")
                        .form-inline.form-group
                                label.col-form-label(for="izmeniZaposlenogLozinka") 
                                    |Nova lozinka 
                                input.form-control(type="password", id="izmeniZaposlenogLozinka")
                                button#togglePassword
                                    i.fa.fa-eye
                        .form-group 
                            label.col-form-label(for="izmeniZaposlenogEmail") 
                                |Email 
                            input.form-control(type="text", id="izmeniZaposlenogEmail")
                        .form-group 
                            label.col-form-label(for="izmeniZaposlenogTelefon") 
                                |Telefon
                            input.form-control(type="text", id="izmeniZaposlenogTelefon")
                .modal-footer
                    button.btn.btn-primary#dugmeSacuvajZaposlenog(type="button", data-dismiss="modal")
                        |Sačuvaj 
   

append scripts
    script(src="/js/profilSettings/profilSettings.js" , type="module")



    