.table-responsive
  table#porudzbineTable.table.table-bordered(width='100%', cellspacing='0')
    thead
      tr
        th ID
        th Kreirao
        th Potvrdio 
        th Datum
        th 
    tbody
      //- tr
      //-   td 1
      //-   td SDASD
      //-   td das
      //-   td 2011/04/25
      //-   td 