.table-responsive
  table#spisakLekovaTable.table.table-bordered(width='100%', cellspacing='0')
    thead
      tr
        th Šifra
        th Ime
        th Cena
        th Količina u apoteci
        th Deljiv
        th Izbor za izdavanje
    tfoot
      tr
        th Šifra
        th Ime
        th Cena
        th Količina u apoteci
        th Deljiv
        th Izbor za izdavanje
    tbody
