.table-responsive
  table#zaposleniTable.table.table-bordered(width='100%', cellspacing='0')
    thead
      tr
        th Ime
        th Prezime
        th Email
        th Telefon
        th Uloga
        th
    tbody
